*{margin:0px;
font-family:Arial;
border:border-box;}


.navbar{height:60px;
    background-color: black;
    color:white;
    display: flex;
 
    
  }


.logo{padding-top: 14px;
padding-left: 10px;}

.navbar ul{display: flex;}

.navbar ul li{list-style: none;
font-size: 1.6rem;
padding:15px;
}

.navbar ul li a{text-decoration:none;
 
color: white;}
.navbar ul li a:hover{border:2px solid red;
border-radius: 10px;
color: black;
background-color: white; }

.nav-search{display: flex;
height: 22px;
padding-top: 20px;
padding-left: 35px;}
.search-icon{background-color: rgb(61, 19, 175);
width:20px}
.search-bar{width:350px;
}
.nav-cart{margin-left: 42px;}

.box1{background-image: url("Banner_1.jpg");
height: 450px;
width: 100%;
background-size: cover;}
.new{font-size: 2rem;}

.box2{background-image: url("Banner_2.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;}

.collection{font-size: 2rem;}


#shopping{display:flex}
#img1{background-image: url("1.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
border: 2px solid red;
}
#img2{background-image: url("2.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  border: 2px solid red;}
#img3{background-image: url("3.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  border: 2px solid red;}
#img4{background-image: url("4.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  border: 2px solid red;}

.img{margin-left: 10px;
margin-right:18px;
}
.img:hover{transform: scale(1.1);
z-index:2}

.money{font-size: 3rem;
}
